@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: 244, 244, 245;
    --foreground-rgb: 24, 24, 27;
    --background-start-rgb: 9, 9, 11;
    --background-end-rgb: 9, 9, 11;
    --sidebar-border: 240 3.7% 15.9%
  }
}

body {
  color: rgb(var(--color));
  background: rgb(var(--foreground-rgb));
}

.bg-background {
  background-color: rgb(var(--background-start-rgb));
}

.border-sidebar-border {
  border-color: hsl(var(--sidebar-border));
}

.hover\:bg-sidebar-accent:hover {
  background-color: hsl(var(--sidebar-border));
} */